* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    padding-left: 15rem;
    padding-right: 15rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    gap: 1rem;
list-style-type: none;
color: rgb(223, 223, 223);
}

.hero {
    display: flex;
    gap: 2rem;
    padding: 7rem 0;
}

.hero-description>h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-description>p {
    font-size: 18px;
    color: rgb(210, 210, 210);

}

.hero-image {
    background-color: gray;
    color: rgb(240, 240, 240);
    width: 90%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.sign-up {
    margin: 1rem 0;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
}